[common]
; 服务器公钥文件
PublicKeyFile = cert/PublicKey.pem
; 服务器公钥长度文件
NBitsFile = cert/NBits.txt
; 服务器的ipv4地址
ServerAddrV4 = localhost
; 服务器的ipv6地址
ServerAddrV6 = ip6-localhost
; 服务器的监听端口
ServerPort = 7000
; 服务器类型, 支持tcp4/tcp6/kcp4/kcp6, 此处必须与服务器的ServerType一致
; 注意: 如果使用tcp4/kcp4, 则必须指定服务器的ipv4地址ServerAddrV4, 如果使用tcp6/kcp6, 则必须指定服务器的ipv6地址ServerAddrV6
ServerType = tcp4
; 日志文件, console表示输出到控制台
LogFile = console
; 日志级别, 支持debug/info/warn/error
LogLevel = info
; 日志最大保留天数
LogMaxDays = 3

; Nat的类型, 支持[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]
; 不指定则为-1, 会自动检测
; -1: 未知, 自动检测
; 其他NatType = MappingType * 3 + FilteringType
; MappingType: 
;     0: Endpoint-Independent Mapping
;     1: Address-Dependent Mapping
;     2: Address-and-Port-Dependent Mapping
; FilteringType: 
;     0: Endpoint-Independent Filtering
;     1: Address-Dependent Filtering
;     2: Address-and-Port-Dependent Filtering
NatType = -1

; Ssh私钥文件位置
SSHPrivateKeyFile = /home/xincheng/.ssh/id_rsa

[ssh]
; 要内网穿透的服务器的ip地址(ipv4/ipv6)
InternalAddr = 127.0.0.1
; 要内网穿透的服务器的端口
InternalPort = 22
; 要内网穿透的服务器的类型, 支持tcp4/tcp6/kcp4/kcp6
InternalType = tcp4
; 指定建立的隧道在服务器上希望监听的端口, 0表示随机
TunnelPort = 35875
; 指定建立的隧道在服务器上希望监听的类型, 支持tcp4/tcp6/kcp4/kcp6/ssh4/ssh6/p2p4/p2p6
TunnelType = p2p4
; 是否加密隧道
TunnelEncrypt = true

; 如果TunnelType为tcp4/tcp6/kcp4/kcp6/ssh4/ssh6, 则需要指定ExternalPort和ExternalType
; 指定服务器对外监听的端口
ExternalPort = 5102
; 指定服务器对外监听的类型, 支持tcp4/tcp6/kcp4/kcp6
ExternalType = tcp4

; 如果TunnelType为p2p4/p2p6, 则可以指定p2p的公网地址, 此时将直接将此地址告知对端, 否则将使用UDP打洞来获取公网地址
; 如果想要显式指定本机p2p的公网地址, 则可以在此处(P2PAddrAndPortV4/P2PAddrAndPortV6)指定
; 另外, 如果公网地址不固定, 可以指定为网卡的名字, 程序会自动检测当前网卡上是否有ipv4/ipv6的地址
; 否则将使用UDP打洞来获取公网地址
; P2PAddrV4 = 10.42.0.16
; P2pAddrV6 = [fe80::f0d1:1e0d:1e0d:1e0d]
