[common]
; 服务器私钥文件
PrivateKeyFile = cert/PrivateKey.pem
; 服务器公钥长度文件
NBitsFile = cert/NBits.txt
; 服务器类型, 支持tcp4/tcp6/kcp4/kcp6
ServerType = tcp4
; 服务器监听端口, 这会创建一个listener同时监听ipv4和ipv6的ServerPort端口
ServerPort = 7000
; 日志文件, console表示输出到控制台
LogFile = console
; 日志级别, 支持debug/info/warn/error
LogLevel = info
; 日志最大保留天数
LogMaxDays = 3
; 心跳超时时间, 单位秒
HeartbeatTimeout = 10
; 如果想要支持ssh隧道，则需要额外配置以下内容
; SshPort = 22
; SshUser = xincheng